@{
    ViewBag.Title = "Financial Resources";
}
<h2>@ViewBag.Title.</h2>

<div class="container">
   
    <p>Here are some links to help you with you financial resource planning and understanding its importance.</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Owner's Finanacial Resources</th>
                <th>Recipient's Financial Resources</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="http://www.investopedia.com" target=_blank>Investopedia</a></td>
                <td><a href="http://www.themint.org/kids/how-banks-work.html" target=_blank>How banks work</a></td>
            </tr>
            <tr>
                <td><a href="http://www.moneycrashers.com/teaching-kids-save-money/" target=_blank>Teaching kids save money</a></td>
                <td><a href="http://www.wikihow.com/Save-Money-as-a-Kid" target=_blank>Save Money as a Kid</a></td>
            </tr>
            <tr>
                <td><a href="http://www.forbes.com/sites/laurashin/2013/10/15/the-5-most-important-money-lessons-to-teach-your-kids/" target=_blank>5 most important money lessons to teach your kids</a></td>
                <td><a href="http://www.bankrate.com/finance/financial-literacy/4-money-lessons-for-children-to-master-1.aspx" target=_blank>4 money lessons for children to master</a></td>
            </tr>
        </tbody>
    </table>
</div>
