
<h3>Project Updates</h3>
<br>
<h3>Submitted by:</h3>
<ul><li>Anurag Roy</li><li>Shreyasi Kalgutkar</li><li>Nemesia Kantekar</li><br><br></ul>
<h3>Progress:</h3>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#overall">Overall Summary</a></li>
    <li><a data-toggle="tab" href="#week1">Week1</a></li>
    <li><a data-toggle="tab" href="#week2">Week2</a></li>
    <li><a data-toggle="tab" href="#week3">Week3</a></li>
    <li><a data-toggle="tab" href="#week4">Week4</a></li>
</ul>
<div class="tab-content">
    <div id="overall" class="tab-pane fade in active">
        <table class="table" style="width:100%">
            <tr>
                <th>
                    Status
                </th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Worked on Application Setup</li>
                        <li>Created Database and configured same in application</li>
                        <li>Created 1 Controller class:WelcomeController.cs</li>
                        <li>Created 4 Model classes: Account.cs,Transaction.cs,Wishlist.cs,ApplicationDBContext.cs</li>
                        <li>Created views: Index.cshtml,TransactionIndex.cshtml</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div id="week1" class="tab-pane fade in active">
        <table class="table" style="width:100%">
            <tr>
                <th>
                    Status
                </th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Worked on Application Setup</li>
                        <li>Created Database and configured same in application</li>
                        <li>Created 1 Controller class:WelcomeController.cs</li>
                        <li>Created 4 Model classes: Account.cs,Transaction.cs,Wishlist.cs,ApplicationDBContext.cs</li>
                        <li>Created views: Index.cshtml,TransactionIndex.cshtml</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div id="week2" class="tab-pane fade in active">
        <table class="table" style="width:100%">
            <tr>
                <th>
                    Status
                </th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Worked on Model Classes</li>
                        <li>Worked on basic structure of functions and methods </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div id="week3" class="tab-pane fade in active">
        <table class="table" style="width:100%">
            <tr>
                <th>
                    Status
                </th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Worked on recreating project</li>
                        <li>Validations</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div id="week4" class="tab-pane fade in active">
        <table class="table" style="width:100%">
            <tr>
                <th>
                    Status
                </th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Worked on Completion of project</li>
                        <li>Worked on interest calculation</li>
                        <li>Worked in Views</li>
                        <li>Finalised the project</li>
                       
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
